<footer class="pt-4 pt-md-5 border-top" style="background-color: #2e3131; color: #ececec">
    <div class="row">
      <div class="col-12 col-md">
        <i class="fas fa-cocktail" style="font-size: 60px; margin-left: 120px"></i>
        <p class="ml-5 font-weight-bold" style="font-size: 30px">MisterCocktail</p>
      </div>
      <div class="col-6 col-md">
        <h5 class="font-weight-bold">Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Cool stuff</a></li>
          <li><a class="text-white" href="#">Random feature</a></li>
          <li><a class="text-white" href="#">Team feature</a></li>
          <li><a class="text-white" href="#">Stuff for developers</a></li>
          <li><a class="text-white" href="#">Another one</a></li>
          <li><a class="text-white" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="font-weight-bold">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Resource</a></li>
          <li><a class="text-white" href="#">Resource name</a></li>
          <li><a class="text-white" href="#">Another resource</a></li>
          <li><a class="text-white" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="font-weight-bold">About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Team</a></li>
          <li><a class="text-white" href="#">Locations</a></li>
          <li><a class="text-white" href="#">Privacy</a></li>
          <li><a class="text-white" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</footer>
