<nav class="navbar navbar-expand-lg fixed-top navbar-cocktail">
  <a class="navbar-brand" href="/cocktails"><i class="fas fa-cocktail mr-2" style="font-size: 30px"></i>MisterCocktail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <%= link_to new_cocktail_path, class: 'btn btn-primary text-white' do %>
      <i class="far fa-plus-square mr-2"></i>New Cocktail
    <% end %>
  </div>
</nav>
