.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-cocktail {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-cocktail a {
  color: rgba(46, 49, 49, 1);
}

.navbar-cocktail-dark {
  background-color: rgba(46, 49, 49, 1);
}

.navbar-cocktail-dark a {
  color: rgba(236, 236, 236, 1)
}
